*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(185, 215, 241);
    padding: 10px;
}
.container{
    max-width: 1140px;
    margin: auto;
}
ul a{
    text-decoration: none;
}
li{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
ul li a{
    color: rgb(33, 66, 216);
    text-transform: capitalize;
    font-weight: 600;
    font-family: sans-serif;
    padding: 10px;
}
.justify-content{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.btns button{
    justify-content: end;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(155, 171, 246);
}
.btns button a{
    text-decoration: none;
    color:  rgb(33, 66, 216);
    font-weight: 700;
}  
