#parent-box{
    display: flex;
}
#box-1{
    border: 2px solid black;
    width: 20%;
    height: 500vh; 
    background-color: rgb(211, 230, 247);
 
}
#box-2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center; 
    margin-top: 40px;
}
#box-2 button{
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 12px;
   
}
#box-2 div{
    width: 300px;
}
#box-2 div img{
    width: 200px;
    height: 200px;
}
#box-1 button{
    padding: 10px;
    margin: 10px;
    margin-left: 60px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
   
}

